absl-py==0.7.1
astor==0.7.1
backcall==0.1.0
baidu-aip==2.2.13.0
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
docopt==0.6.2
gast==0.2.2
get==2019.4.13
google-api-core==1.10.0
google-auth==1.6.3
google-cloud-language==1.2.0
googleapis-common-protos==1.5.10
grpcio==1.20.1
h5py==2.9.0
hdfs==2.5.4
idna==2.8
imageai==2.0.2
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jieba==0.39
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
msgpack==0.6.1
nltk==3.4.1
numpy==1.16.3
opencv-python==4.1.0.25
pandas==0.24.2
parso==0.4.0
pickleshare==0.7.5
Pillow==6.0.0
post==2019.4.13
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.1
public==2019.4.13
pyasn1==0.4.5
pyasn1-modules==0.2.5
Pygments==2.4.1
PyMySQL==0.9.3
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
query-string==2019.4.13
request==2019.4.13
requests==2.21.0
rsa==4.0
scipy==1.2.1
six==1.12.0
soupsieve==1.9.1
stanfordcorenlp==3.9.1.1
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tornado==6.0.2
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==0.15.2
wincertstore==0.2
